<section class="hero-banner-1">
    <div class="container-fluid">
        <div class="content">
            <div class="vector-image">
                <svg xmlns="http://www.w3.org/2000/svg" width="1414" height="319" viewBox="0 0 1414 319" fill="none">
                    <path class="path" d="M-0.5 215C62.4302 220.095 287 228 373 143.5C444.974 72.7818 368.5 -3.73136 320.5 1.99997C269.5 8.08952 231.721 43.5 253.5 119C275.279 194.5 367 248.212 541.5 207.325C675.76 175.867 795.5 82.7122 913 76.7122C967.429 73.9328 1072.05 88.6813 1085 207.325C1100 344.712 882 340.212 922.5 207.325C964.415 69.7967 1354 151.5 1479 183.5" stroke="#ECECF2" stroke-width="6" stroke-linecap="round" stroke-dasharray="round"></path>

                    <path class="dashed" d="M-0.5 215C62.4302 220.095 287 228 373 143.5C444.974 72.7818 368.5 -3.73136 320.5 1.99997C269.5 8.08952 231.721 43.5 253.5 119C275.279 194.5 367 248.212 541.5 207.325C675.76 175.867 795.5 82.7122 913 76.7122C967.429 73.9328 1072.05 88.6813 1085 207.325C1100 344.712 882 340.212 922.5 207.325C964.415 69.7967 1354 151.5 1479 183.5" stroke="#212627" stroke-width="6" stroke-linecap="round" stroke-dasharray="22 22"></path>
                </svg>
                <div class="location-image">
                    <img src="/img/location-blue.png" alt="">
                </div>
            </div>
            <div class="row ">
                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-5 col-sm-5">
                    <div class="content-block">
                        <h2 class="h-61 bold lightest-black mb-16">
                            <span class="color-primary">Book</span> Your
                            Dream
                            <span class="color-primary">Flights</span> Now!
                        </h2>
                        <p class="light dark-gray mb-24">
                            Lorem ipsum dolor sit amet consectetur. Felis tristique
                            pretium leo nisi at risus ac enim.
                        </p>
                        <a href="#" class="cus-btn ">Book Now</a>
                    </div>
                </div>
                <div class="col-xxl-9 col-xl-8 col-lg-8 col-md-7 col-sm-7">
                    <div class="image flynow-tilt" data-tilt-options="{ &quot;glare&quot;: false, &quot;maxGlare&quot;: 0, &quot;maxTilt&quot;: 3, &quot;speed&quot;: 700, &quot;scale&quot;: 1.02 }" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
                        <img src="/img/plane.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
