<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Temporal Airlines</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true"/>
    <style>
        button {
            position: relative;
        }
    </style>
</head> 
