@using TemporalAirlinesConcept.Common.Settings
@using Microsoft.Extensions.Options
@inject IOptions<UrlSettings> UrlSettingsOptions;

@{
    var urlSettings = UrlSettingsOptions.Value;
}


<section class="mb-20">
    <div class="container-fluid">
        <div class="content">
            <div class="alert alert-primary">
                An error occurred during the purchase, please contact the manager for details. Or check the
                <a href="@(urlSettings.TemporalDashboard)"
                   target="_blank"
                   class="text-decoration-underline">
                    Temporal Dashboard
                </a>
            </div>
        </div>
    </div>
</section>