@model TemporalAirlinesConcept.Web.ViewComponents.FlightBookingForm.FlightBookingFormViewModel

<section class="mb-20">
    <div class="container-fluid">
        <div class="content">
            <div class="flights flight-listing-page">
                @if (Model.Flights.Count <= 0)
                {
                    <div class="flight d-flex flex-row justify-content-between">
                        <div class="alert alert-warning">
                            <strong>No flights available :(</strong>
                        </div>
                    </div>
                }

                @foreach (var flight in Model.Flights.Take(5))
                {
                    @Html.Partial("Components/FlightBookingForm/FlightListElement", (flight, Model.SelectedFlight == flight.Id))
                }
            </div>
        </div>
    </div>
</section>
